// @see https://desenvolvimentoparaweb.com/css/css-breakpoints-maneira-correta/
/*
@mixin breakpoint($point) {
  @if $point == small-only {
    @media (max-width: 37.4375em) { // 599px
      @content;
    }
  }

  @else if $point == small-up {
    @media (min-width: 37.5em) { // 600px
      @content;
    }
  }

  @else if $point == medium-only {
    @media (max-width: 56.1875em) { // 899px
      @content;
    }
  }

  @else if $point == medium-up {
    @media (min-width: 56.25em) { // 900px
      @content;
    }
  }

  @else if $point == large-only {
    @media (max-width: 74.9375em) { // 1199px
      @content;
    }
  }

  @else if $point == large-up {
    @media (min-width: 75em) { // 1200px
      @content;
    }
  }

  @else {
    @media (min-width: ($point / 16) + 'em') {
      @content;
    }
  }
}
*/
@media screen and (max-width: 1300px) {
  .l-book-now {
    max-width: 1080px;
  }
  .form-input {
    padding-right: 40px;
  }
}

@media screen and (max-width: 1240px) {
  .l-main-content {
    flex-direction: column;
  }
  .main__title {
    text-align: center;
    padding-left: 110px;
    padding-right: 110px;
  }
  .main__paragraph {
    text-align: center;
  }
  .c-main__icons {
    justify-content: center;
  }
  .c-main__icon__plane {
    display: grid;
    place-items: center;
    text-align: center;
  }
  .c-main__icon__guidelines {
    display: grid;
    place-items: center;
    text-align: center;
  }
  .main-intro__img img {
    display: block;
    max-width: 100%;
  }
  .main-intro__img {
    margin-top: 60px;
  }
  .l-book-now {
    max-width: 870px;
  }
  .form-book__item__1 {
    padding-left: 20px;
  }
  .form-book__item__4 {
    padding-right: 20px;
  }
  .book__item::after {
    margin-right: 30px;
  }
  .form-input {
    padding-right: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .l-book-now {
    position: relative;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 30px;
    bottom: 0;
  }
  .form-book-now {
    max-width: 400px;
    flex-direction: column;
    background: $bg-color-book-now;
    margin: 0 auto;
  }
  .book__item {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .form-book__item__1 {
    padding-top: 30px;
    padding-left: 0;
  }
  .form-book__item__4 {
    padding-right: 0;
    padding-bottom: 30px;
  }
  .book__item::after {
    display: none;
  }
  .form-input {
    padding-right: 0;
  }
  input {
    background: $bg-color-book-now;
  }
  
}

@media screen and (max-width: 800px) {
  .l-header {
    display: none;
  }
  .l-header-mobile {
    display: block;
  }

  .navigation__list__item .btn-register {
    margin-top: 30px;
    background: $color-button-register;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 28px;
    padding-left: 28px;
    border-radius: 4px;
  }
}
