.c-main__icons {
  display: flex;
  margin-left: 40px;
  margin-top: 40px;
}

.c-main__icon__plane {
  text-align: start;
}

.c-main__icon__guidelines {
  text-align: start;
  margin-left: 80px;
  margin-right: 20px;
}

.icon-plane, .icon-camera {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  place-items: center;
}

.icon-plane {
  background: $bg-color-icon-plane;
}

.icon-camera {
  background: $bg-color-icon-camera;
}

.main-icon__tilte {
  @include inter(16);
  margin-top: 15px;
  margin-bottom: 10px;
  max-width: 240px
}

.main-icon__paragraph {
  @include nunito(16, normal);
}
